@import "tailwindcss";

@theme {
  /* Typography */
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  /* Amazon-like color palette */
  --color-amazon-blue-dark: #131921;
  --color-amazon-blue-mid: #232f3e;
  --color-amazon-link: #007185;
  --color-amazon-orange: #ff9900;
  --color-amazon-yellow: #f3a847;
}
